.container{
    border: 0.5px solid black;
    width: 50%;
    padding: 10px;
    background-color:lightgray;

}
.new-task {
    border: 0.5px solid black;
    padding: 10px;
}
.button{
    color: white;
    background-color: #3184b8;
    border-radius: 5px;
    padding: 5px 20px;
    text-align: center;
    margin: 10px 0px 10px 100px;
}
.name {
    
    margin: 10px 0px 10px 34px;
}